.sideBar {
    box-sizing: border-box;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadFileIcon {
    margin: 0px 20px 0px -32px;
    font-size: 24px;
}

.listBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list {
    margin-bottom: 24px;
}

.listIcon {
    margin: 0px 12px 0px -12px;
    font-size: 20px;
    color: #F3F2EF;
}

.hiddenBlock {
    display: none;
}

.createFolderBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    border-radius: 20px 20px;
}

.createFolderTitle {
    color: #2F3136;
    font-size: 24px;
}

.createFolderButtonBlock {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}