.contentBlock {
    padding: 40px 32px; 
    background-color: #25272C;
    overflow-y: auto;
}

.contentHeader {
    display: flex;
    justify-content: space-between;
    color: #6B6D72;
    font-size: 20px;
    margin-bottom: 52px;
}

.content {
    color: #F3F2EF;
    margin-bottom: 40px;
}

.listBlock {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}