.file {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 232px;
    background: #2F3136;
    color: #F3F2EF;
}

.fileThumbnail {
    width: 260px;
    height: 180px;
}

.imageBlock {
    width: 100%;
    height: 100%;
    display: flex;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.fileName {
    width: 260px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileBlock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 88px;
}