.folder {
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 260px;
    height: 100px;
    color: #F3F2EF;
    background: #2F3136;
}